<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="dao.MetadataModelMapper" >
 <resultMap id="BaseResultMap" type="model.MetadataModel" >
    <id column="filepath" property="filepath" jdbcType="VARCHAR" />
    <result column="statellite" property="statellite" jdbcType="VARCHAR" />
    <result column="sensor" property="sensor" jdbcType="VARCHAR" />
    <result column="region" property="region" jdbcType="VARCHAR" />
    <result column="times" property="times" jdbcType="DATE" />
    <result column="authority" property="authority" jdbcType="VARCHAR" />
    <result column="size" property="size" jdbcType="VARCHAR" />
    
  </resultMap>
  <sql id="Base_Column_List" >
    filepath,statellite,sensor,region,times,authority,size
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from basemetadata_table
    where filepath = #{filepath,jdbcType=VARCHAR}
  </select>
  
  <select id="selectAll" resultMap="BaseResultMap"  >
    select 
    <include refid="Base_Column_List" />
    from basemetadata_table
   
  </select>
  
  <select id="selectByDate" resultMap="BaseResultMap" parameterType="java.sql.Date">
  	select 
    <include refid="Base_Column_List" />
    from basemetadata_table
    where times = #{times,jdbcType=DATE}
  </select>
  
  <select id="selectByRegion" resultMap="BaseResultMap" parameterType="java.lang.String">
  	select 
    <include refid="Base_Column_List" />
    from basemetadata_table
    where region = #{region,jdbcType=VARCHAR}
  </select>
  
   <select id="selectByStatellite" resultMap="BaseResultMap" parameterType="java.lang.String">
  	select 
    <include refid="Base_Column_List" />
    from basemetadata_table
    where statellite = #{statellite,jdbcType=VARCHAR}
  </select>
  
  <select id="selectByStatelliteAndSensor" resultMap="BaseResultMap" >
  	select 
    <include refid="Base_Column_List" />
    from basemetadata_table
    where statellite like #{statellite,jdbcType=VARCHAR} and sensor like #{sensor,jdbcType=VARCHAR}
  </select>
  
  <select id="selectBySTSR" resultMap="BaseResultMap" >
  	select 
    <include refid="Base_Column_List" />
    from basemetadata_table
    where statellite like #{statellite,jdbcType=VARCHAR} and sensor like #{sensor,jdbcType=VARCHAR} 
    and times like #{times,jdbcType=DATE} and region like #{region,jdbcType=VARCHAR}
  </select>
  
   <select id="selectByTimeAndRegion" resultMap="BaseResultMap" >
  	select 
    <include refid="Base_Column_List" />
    from basemetadata_table
    where times like #{times,jdbcType=DATE} and region like #{region,jdbcType=VARCHAR}
  </select>
  
  <select id="selectByTimeAndStatellite" resultMap="BaseResultMap" >
  	select 
    <include refid="Base_Column_List" />
    from basemetadata_table
    where times like #{times,jdbcType=DATE} and statellite like #{statellite,jdbcType=VARCHAR}
  </select>
  
  <select id="selectByRegionAndStatellite" resultMap="BaseResultMap" >
  	select 
    <include refid="Base_Column_List" />
    from basemetadata_table
    where region like #{region,jdbcType=VARCHAR} and statellite like #{statellite,jdbcType=VARCHAR}
  </select>
  
  <select id="selectByTSR" resultMap="BaseResultMap" >
  	select 
    <include refid="Base_Column_List" />
    from basemetadata_table
    where region like #{region,jdbcType=VARCHAR} and statellite like #{statellite,jdbcType=VARCHAR} 
    and times like #{times,jdbcType=DATE}
  </select>
  
  <select id="selectByTSS" resultMap="BaseResultMap" >
  	select 
    <include refid="Base_Column_List" />
    from basemetadata_table
    where sensor like #{sensor,jdbcType=VARCHAR} and statellite like #{statellite,jdbcType=VARCHAR} 
    and times like #{times,jdbcType=DATE}
  </select>
  
  <select id="selectByRSS" resultMap="BaseResultMap" >
  	select 
    <include refid="Base_Column_List" />
    from basemetadata_table
    where sensor like #{sensor,jdbcType=VARCHAR} and statellite like #{statellite,jdbcType=VARCHAR} 
    and region like #{region,jdbcType=VARCHAR}
  </select>
  
  
  
</mapper>